<div align="center" *ngIf="card">
    <div><label>&nbsp;</label></div>
    <h3>{{ card.name | uppercase }} Details</h3>
    <div><label><span>Name: </span>{{card.name}}</label></div>
    <div><label><span>Suit and value: </span>{{card.suit}}  {{card.value}}</label></div>
    <div><label><span>Rnd and id: </span>{{card.rnd}}  {{card.id}}</label></div>
    <div><label><span>Owner: </span>{{card.owner}}</label></div>
    <div><button (click)="clear()"><i class="fas fa-thumbs-up"></i> Done</button></div>
    <div><img *ngIf="card.image | resolveurl | async as url" [src]="url" alt="{{card.name}}" width="25%"></div>
  </div>
  