<h3>Reserved Cards:</h3>

<!--div>
  <label>Card name:
    <input #cardName />
  </label-
  < (click) passes input value to add() and then clears the input>
  <button (click)="add(cardName.value); cardName.value=''">
    add
  </button>
</div-->

<ul class="cards">
  <ng-container *ngFor="let card of cards">
    <li *ngIf="card.owner">
      <a routerLink="/detail/{{card.id}}">
        <img src="{{card.image}}" alt="{{card.name}}" width="33%"/>
        <p>
          Name: {{card.name}}
        </p>
        <p>
          Owner: {{card.owner}}
        </p>
      </a>
      <!--button class="delete" title="delete card"
      (click)="delete(card)">x</button-->
      </li>
  </ng-container>
</ul>
