<h3>Reserved Cards:</h3>

<ng-container *ngIf="[method]=='firebase'">
  <ul class="cards">
    <ng-container *ngFor="let card of cardsRef | async">
      <li *ngIf="card.owner && card.owner!='system'">
        <a routerLink="/detail/{{card.id}}">
          <img *ngIf="card.image | resolveurl | async as url" [src]="url" alt="{{card.name}}" width="33%"/>
          <p>
            Name: {{card.name}}
          </p>
          <p>
            Owner: {{card.owner}}
          </p>
        </a>
      </li>
    </ng-container>
  </ul>
</ng-container>

<ng-container *ngIf="[method]!='firebase'">
  <ul class="cards">
    <ng-container *ngFor="let card of cards">
      <li *ngIf="card.owner && card.owner!='system'">
        <a routerLink="/detail/{{card.id}}">
          <img *ngIf="card.image | resolveurl | async as url" [src]="url" alt="{{card.name}}" width="33%"/>
          <p>
            Name: {{card.name}}
          </p>
          <p>
            Owner: {{card.owner}}
          </p>
        </a>
      </li>
    </ng-container>
  </ul>
</ng-container>