
label {
    display: inline-block;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
    font-size: 1.2em;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arial;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer; cursor: hand;
    font-size: 1.2em;
    background-color: #EEE;
    color: #607D8B;        
  }
  button:hover {
    color: #EEE;
    background-color: #607D8B;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 10px;
    color: #607D8B;
  }
  .prices {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
  }
  .prices li {
    position: relative;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    margin: .5em;
    padding: .3em 0;
    height: 100;
    border-radius: 4px;
  }