button.reset {
  font-family: Arial;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  background-color: #EEE;
  color: #607D8B;        
}
button:hover {
  color: #EEE;
  background-color: #607D8B;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.reset {
  margin-bottom: 12px;
}
