<div align="center" *ngIf="card">
  <div><label>&nbsp;</label></div>
  <h3>{{ card.name | uppercase }} Details</h3>
  <div><label><span>Id: </span>{{card.id}}</label></div>
  <div><label><span>Name: </span>{{card.name}}</label></div>
  <div>
    <label>Owner:
      <input [(ngModel)]="card.owner" placeholder="owner"/>
    </label>
  </div>
  <button (click)="goBack()">Back</button>
  &nbsp;&nbsp;
  <button (click)="save()">Save</button>
  <div><img src="{{card.image}}" alt="{{card.name}}" width="25%"></div>
</div>
